@font-face {
  font-family: Helvetica Neue;
  src: url(helveticaneue.ttf);
}
body, html {
  width: 100%;
  height: 100%;
}

.btn12collection {
  display: flex;
  position: absolute;
  right: 677px;
}

.figma {
  position: absolute;
  left: 200px;
}

.discord {
  position: absolute;
  left: 400px;
}

.figmainfo {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 95px;
  top: 1px;
}

.discordinfo {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 69px;
  top: 1px;
}

.textbio {
  color: #CED4DA;
  font-size: 13px;
  width: 100px;
}

.githubinfo {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 54px;
  top: 1px;
}

.socialM {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 166px;
  left: 286px;
}

.addprofile {
  position: absolute;
  left: 539px;
  top: 36px;
  border: 2px #878A99 solid;
  padding: 17px 110px;
  border-radius: 4px;
  color: #878A99;
  font-size: 20px;
}

.bothaccounts {
  position: absolute;
  top: 128px;
  left: 295px;
}

.lineproj {
  border: 1px #CED4DA solid;
  width: 1112px;
  position: absolute;
  left: 284px;
  top: 142px;
}

.namesDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  top: 160px;
  left: 276px;
  gap: 11px;
}

.restDiv {
  position: absolute;
  left: 520px;
  top: 163px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 9px;
}

.ProInfo {
  font-weight: 700;
  color: white;
  width: 100px;
  margin: 0;
  line-height: 2;
  height: 30px;
  position: absolute;
  left: 340px;
}

.container123456 {
  background-color: #272b30;
}

.projectheader {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  height: 600px;
  padding-right: 81px;
}

.projectheadercnt {
  margin-left: 5%;
}

.profiles5 {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}

.logo32 {
  background-color: rgba(39, 43, 48, 0.5019607843);
  padding: 5px;
  position: absolute;
  top: 1000px;
}

.profile1 {
  left: 1px;
  position: absolute;
}

.profiles {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  top: 800px;
}

.lineVerybg {
  border: 1px #878A99 solid;
  width: 100%;
  position: absolute;
  top: 791px;
  left: 1px;
}

.interaction {
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 958px;
  top: 595px;
  gap: 60px;
}

.img74 {
  height: 110px;
  width: 218px;
  border-radius: 5px;
}

.cnt564 {
  margin: 30px;
  padding: 20px;
  border: 2px solid;
  width: fit-content;
}

.container234 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.main-image-container {
  width: 40rem;
  height: 40rem;
  position: relative;
}

.main-image-container .img img {
  width: 40rem;
  height: 40rem;
}

.main-image-container .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: var(--overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(0% at 50% 50%);
  transition: var(--transition);
}

.main-image-container:hover .overlay {
  clip-path: circle(70.7% at 50% 50%);
}

.overlay ion-icon {
  font-size: 3.5rem;
  color: var(--white);
  background: var(--btn-bg);
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 33;
  overflow: auto;
  background: var(--overlay);
  backdrop-filter: blur(1rem);
  transition: var(--transition);
  clip-path: circle(0% at 50% 50%);
}

.modal-container::-webkit-scrollbar {
  width: 0;
}

.modal-container.active {
  clip-path: circle(70.7% at 50% 50%);
}

.modal-inner {
  position: relative;
  width: 100%;
  height: 70rem;
  z-index: 100;
  background: var(--modal-bg);
}

.btn-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  z-index: 1000;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-close ion-icon {
  font-size: 2.5rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-text);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 4rem !important;
}

.main {
  padding: 6rem 0;
}

.main .swiper-slide {
  text-align: center;
}

.main .swiper-slide img {
  width: 40rem;
  height: 40rem;
  border-radius: 2rem;
}

.thumbnail-slider,
.thumbnail-slider .swiper-wrapper {
  width: 30rem;
  margin: 0 auto;
}

.thumbnail-slider .swiper-slide {
  width: 10rem !important;
  height: 10rem !important;
  padding: 0.3rem;
  border-radius: 2rem;
  border: 0.2rem solid transparent;
  transition: var(--transition);
}

.thumbnail-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.thumbnail-slider {
  width: 40rem;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 0.2rem solid rgb(165, 165, 165) !important;
}

@media (max-width: 521px) {
  .main .swiper-slide img {
    max-width: 40rem;
    max-height: 40rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  .thumbnail-slider {
    width: 100%;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 3.3rem !important;
  }
}
@media (max-width: 415px) {
  .main .swiper-slide img {
    max-width: 35rem;
    max-height: 35rem;
  }
  .main-image-container {
    width: 90%;
  }
  .main-image-container .img {
    text-align: center;
  }
  .main-image-container .img img {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .main-image-container .img img {
    width: 90%;
    object-fit: cover;
  }
}
.barier4 {
  border: 1px solid #EFF2F7;
  position: absolute;
  width: 30%;
  left: 936px;
  top: 150px;
}

.bioDream {
  position: absolute;
  left: 927px;
  top: 164px;
  width: 400px;
  text-align: inherit;
}

.Intro3 {
  position: absolute;
  left: 937px;
  top: 73px;
}

.acc1 {
  position: absolute;
  left: 1172px;
  top: 1px;
  font-size: 23px;
}

.trophytxt {
  color: #F2BD27;
  position: absolute;
  top: 189px;
  left: 969px;
}

.greenfntxt {
  color: #00B96B;
  position: absolute;
  top: 190px;
  width: 900px;
  left: 540px;
}

.uploadedProject {
  background-color: black;
  height: 240px;
  width: 89%;
  align-items: center;
  display: flex;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.cnt34 {
  display: flex;
  justify-content: center;
  z-index: 4;
  overflow: hidden;
}

.vidPro {
  height: 210px;
  width: 400px;
  border-radius: 6px;
  margin-left: 20px;
  z-index: 2;
}

.LineBg {
  border: #1677FF 1px solid;
  width: 89%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 6%;
}

.cnt37 {
  background-color: #272b30;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rothchild {
  background-color: #272b30;
}

.txt18 {
  background-color: #1677FF;
  padding: 5px;
  color: white;
  border-radius: 6px;
}

.cnt116 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.blueBanner {
  display: flex;
  justify-content: flex-start;
  background-color: #1677FF;
  color: white;
  padding: 23px 0;
  width: 87%;
  border-radius: 6px;
}

.bluebtxt {
  font-size: 18px;
  padding-right: 19px;
}

.txtTopbar1 {
  width: 100%;
}

.Topbarer2 {
  width: 100%;
  height: 600px;
  background: url(car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.box1 {
  width: Hug 428px;
  height: Hug 343px;
  background-color: rgba(39, 43, 48, 0.5019607843);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px;
  background: rgba(39, 43, 48, 0.5);
  border-radius: 8px;
  margin-bottom: 50px;
}

.btn1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 150px;
  height: 35px;
  background: #5A54F9;
  border-radius: 8px;
}

.txt2 {
  width: 401px;
  height: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #EFF2F7;
}

.txt3 {
  width: 291px;
  height: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #CED4DA;
  margin-top: 45px;
}

.txt4 {
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #3ACCE6;
  display: flex;
  justify-content: center;
}

.Topbarer3 {
  margin-top: 24px;
  width: 100%;
}

.line {
  width: 80px;
  height: 0px;
  border: 0.5px solid #3ACCE6;
}

.pic2 {
  width: 80px;
  height: 15px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.txt5 {
  width: 55px;
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #EFF2F7;
  margin-top: 10px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 198px;
  height: 32px;
  border: 1px solid #3ACCE6;
  border-radius: 4px;
  margin-top: 37px;
}

.txt6 {
  width: 43px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3ACCE6;
}

.btn3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 198px;
  height: 32px;
  background: #3ACCE6;
  border-radius: 4px;
  margin-left: 16px;
  margin-top: 37px;
}

.txt1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #CED4DA;
  margin: 0px 8px;
  text-decoration: none;
}

.txt7 {
  width: 35px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.pic5 {
  border-radius: 8px;
  width: 116.67px;
  height: 70px;
  margin-right: 8px;
}

.prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  width: 24px;
  height: 24px;
  right: 30px;
  bottom: 43px;
  background: rgba(39, 43, 48, 0.8);
  border-radius: 21px;
  margin-bottom: 30px;
  top: -50px;
}

.vector {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prev2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  width: 24px;
  height: 24px;
  left: 125px;
  bottom: 43px;
  background: rgba(39, 43, 48, 0.8);
  border-radius: 21px;
  margin-bottom: 30px;
}

.vector2 {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0.7px;
}

.pic6 {
  border-radius: 8px;
  width: 116.67px;
  height: 70px;
  margin-right: 8px;
}

.Topbarer5 {
  margin-right: 20px;
}

.txt8 {
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.Topbarer {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  width: 100%;
  height: 70px;
}

.txt9 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  margin-top: 69px;
  color: #EFF2F7;
}

.txt10 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #CED4DA;
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 15px;
}

.btn4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #5A54F9;
  border-radius: 4px;
  width: 140px;
  height: Hug 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

.mainTopbarer1 {
  background-color: #272b30;
}

.spacer {
  background-color: #272b30;
  width: 100%;
  height: 48px;
}

.a1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a2 {
  margin-right: 18px;
}

.a3 {
  margin-right: 10px;
}

.pic7 {
  width: 408px;
  height: 313px;
}

.company {
  width: 75%;
  height: 100px;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.pic8 {
  width: 100%;
}

.image10 {
  margin-top: 50px;
}

.spacer2 {
  margin-top: 50px;
}

.footer1 {
  background-color: black;
}

.pic11 {
  margin-right: 12px;
}

.txt11 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #EFF2F7;
  margin-top: 32px;
}

.txt12 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CED4DA;
  margin-top: 8px;
}

.txt13 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #CED4DA;
  margin-top: 8px;
}

.spacer3 {
  margin-right: 50px;
}

.a6 {
  margin-top: 34px;
}

.spacer4 {
  background-color: black;
  width: 100%;
  height: 48px;
}

.spacer5 {
  margin-left: 22px;
}

.mainTopbarer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background-color: black;
  width: 200px;
}

.Topbarer10 {
  background-color: #272b30;
}

.mtxt1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #CED4DA;
  margin-left: 12px;
  margin-top: 7px;
  margin-bottom: 15px;
}

.pic9 {
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.checkmark {
  margin-left: 12px;
  cursor: pointer;
}

.stxt1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #EFF2F7;
}

.pic10 {
  margin-left: 8px;
  width: 8px;
  height: 8px;
}

.checkmark1 {
  display: block;
  user-select: none;
}

.checkmark1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  box-sizing: border-box;
  border: 1px solid #CED4DA;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 12px;
}

.checkmark1:hover input ~ .checkmark {
  border-color: #00B96B;
}

.checkmark1 input:checked ~ .checkmark {
  border-color: #00B96B;
  background-image: url(check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark1 input:checked ~ .checkmark:after {
  display: block;
}

.Topbarer11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  height: 60px;
  background: #000000;
  width: 100%;
}

.input1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #878A99;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border: 1px solid #878A99;
  border-radius: 4px;
  width: 350px;
  background-color: black;
}

.button11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 32px;
  background: #1677FF;
  border-radius: 4px;
  margin-left: 8px;
}

.search11 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 7px;
}

.dropbtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border: 1px solid #878A99;
  border-radius: 4px;
  cursor: pointer;
  background-color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #CED4DA;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border: 1px solid #878A99;
  border-radius: 4px;
  background-color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #CED4DA;
  width: 100%;
}

.dropdown-content a:hover {
  background-color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #CED4DA;
}

.image11 {
  margin-left: 50px;
}

.dc1 {
  box-sizing: border-box;
  color: #CED4DA;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 4px;
  background-color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.dropdown-content {
  width: 100%;
}

.Topbarer12 {
  width: 50%;
}

.Topbarer13 {
  width: 100%;
}

.carbg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
}

.frametxt1 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  background: rgba(39, 43, 48, 0.5);
  border-radius: 4px;
  display: flex;
  margin-top: 4px;
  margin-left: 16px;
  width: 50%;
}

.frametxt1alt {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  background: rgba(39, 43, 48, 0.5);
  border-radius: 4px;
  display: flex;
  margin-top: 4px;
  margin-left: 16px;
}

.ftxt1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #EFF2F7;
  display: flex;
}

.btn11 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 113px;
  height: 35px;
  background: #5A54F9;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-left: 16px;
  margin-top: 16px;
}

.frametxt2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4px;
  background: rgba(39, 43, 48, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: start;
  margin-top: 20px;
  margin-left: 16px;
  margin-bottom: 30px;
}

.ftxt2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #EFF2F7;
}

.ftxt3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #EFF2F7;
}

.box2 {
  width: 60%;
}

.line2 {
  width: 100%;
  height: 0px;
  border: 0.5px solid #3ACCE6;
}

.line3 {
  width: 100%;
}

.colorbg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 8px;
  background: #141414;
}

.Topbarer4 {
  width: 100%;
}

.button12 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: #5A54F9;
  border-radius: 4px;
  margin-left: 4px;
}

.Topbarer15 {
  width: 15%;
  margin-top: 5px;
}

.Topbarer16 {
  width: 28%;
}

.Topbarer17 {
  width: 10%;
}

.Topbarer18 {
  width: 100%;
}

.btn12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 50%;
  height: 32px;
  border: 1px solid #3ACCE6;
  border-radius: 4px;
  margin-top: 37px;
  margin-bottom: 16px;
}

.btn13 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 50%;
  height: 32px;
  background: #3ACCE6;
  border-radius: 4px;
  margin-left: 16px;
  margin-top: 37px;
  margin-bottom: 16px;
}

.box2 {
  margin-left: 16px;
  margin-top: 32px;
}

.btn15 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 62px;
  height: 35px;
  background: #00B96B;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-left: 16px;
  margin-top: 16px;
}

.aibg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(ai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
}

.frametxt4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4px;
  background: rgba(39, 43, 48, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: start;
  margin-top: 38px;
  margin-left: 16px;
  margin-bottom: 16px;
  width: 314px;
}

.Topbarer17 {
  width: 70px;
}

.button16 {
  width: 14%;
}

.Topbarer19 {
  width: 15%;
}

.Topbarer20 {
  width: 10%;
  margin-right: 25px;
}

.button16 {
  font-family: "Roboto";
  width: 54%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: #5A54F9;
  border-radius: 4px;
  margin-left: 4px;
}

.Topbarer21 {
  width: 250%;
}

.frametxt5 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4px;
  background: rgba(39, 43, 48, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: start;
  margin-top: 38px;
  margin-left: 16px;
  margin-bottom: 10px;
  width: 314px;
}

.bgbg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
}

.button17 {
  font-family: "Roboto";
  width: 30%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: #5A54F9;
  border-radius: 4px;
  margin-left: 4px;
}

.button18 {
  width: 100%;
}

.button23 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: #5A54F9;
  border-radius: 4px;
}

.Topbarer25 {
  width: 15%;
}

.fullsize {
  width: 100%;
}

.Topbarer26 {
  width: 72%;
}

.margin1 {
  margin-left: 4px;
}

.margin2 {
  margin-top: 5px;
}

.vrbg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(vr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
  height: 272px;
}

.spacer61 {
  height: 60px;
}

.finaltxt {
  margin-top: 10px;
  margin-bottom: 15px;
}

.frametxt14 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  background: rgba(39, 43, 48, 0.5);
  border-radius: 4px;
  display: flex;
  margin-top: 4px;
  margin-left: 16px;
  margin-bottom: 54px;
}

.frametxt15 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  background: rgba(39, 43, 48, 0.5);
  border-radius: 4px;
  display: flex;
  margin-top: 4px;
  margin-left: 16px;
  margin-bottom: 52px;
}

.pic21 {
  margin-right: 38px;
  width: 100%;
  height: 100%;
}

.awardsnotification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  width: 16px;
  height: 16px;
  left: 11px;
  bottom: 35px;
  background: #E0282E;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.mailnotification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  width: 16px;
  height: 16px;
  left: 14px;
  bottom: 35px;
  background: #00B96B;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.bellnotification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  width: 16px;
  height: 16px;
  left: 11px;
  bottom: 35px;
  background: #F4801A;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.nowidth {
  width: 32px;
  height: 32px;
}

.mainTopbarer51 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 60px;
  width: 70%;
  background: #000000;
  border-radius: 4px;
  margin-top: 16px;
}

.background1 {
  background-color: #272b30;
  width: 100%;
  height: 100%;
}

.maxwidth123 {
  width: 100%;
}

.txth1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #EFF2F7;
  margin-left: 8px;
}

.txth2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CED4DA;
  margin-right: 21px;
}

.grid-container {
  background: black;
  font-family: "Rubik", sans-serif;
  width: 70%;
}

@supports (display: grid) {
  .main {
    background-color: #272b30;
    grid-area: main;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .items {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    will-change: transform;
    user-select: none;
  }
  .item {
    display: inline-block;
    min-height: 250px;
    min-width: 472px;
    margin: 2em 1em;
  }
  @media screen and (max-width: 500px) {
    .item {
      min-height: 200px;
      min-width: 200px;
    }
  }
}
.box12 {
  width: 100%;
}

.button61 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: #5A54F9;
  border-radius: 4px;
  margin-right: 55px;
}

.ftxt33 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  color: #EFF2F7;
}

.txth3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #EFF2F7;
  margin-left: 8px;
}

.mainTopbarer52 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 332px;
  width: 70%;
  background: #000000;
  border-radius: 4px;
  margin-top: 16px;
}

.circle51 {
  padding: 0px;
  width: 42px;
  height: 42px;
  background: #1677FF;
  border-radius: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #CED4DA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txtb1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #EFF2F7;
  margin-left: 8px;
}

.txtb2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #CED4DA;
  margin-left: 8px;
}

.txtb3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #CED4DA;
  margin-right: 22px;
}

.bordbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 99%;
  height: 58px;
  background: #272b30;
  border-radius: 4px;
  margin-bottom: 8px;
}

.circle52 {
  padding: 0px;
  width: 42px;
  height: 42px;
  background: #00B96B;
  border-radius: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #CED4DA;
}

.circle53 {
  padding: 0px;
  width: 42px;
  height: 42px;
  background: #E0282E;
  border-radius: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #CED4DA;
  align-items: center;
}

.background2 {
  background-color: #272b30;
}

.background3 {
  background: url(working.jpg);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 240px;
  width: 90%;
}

.cyanb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: rgba(58, 204, 230, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 16px;
}

.blackb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: rgba(39, 43, 48, 0.8);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #CED4DA;
  margin-left: 16px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.greyb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: rgba(39, 43, 48, 0.8);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #CED4DA;
  margin-bottom: 16px;
  margin-left: 16px;
}

.picavatar {
  margin-right: 4px;
}

.background4 {
  background: url(working2.jpg);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 240px;
  width: 90%;
}

.background5 {
  background: url(working3.jpg);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 240px;
  width: 90%;
}

.background6 {
  background: url(working4.jpg);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 240px;
  width: 90%;
}

.cyanb2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: rgba(90, 84, 249, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 16px;
}

.cyanb3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: rgba(0, 185, 107, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 16px;
}

.cyanb4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: rgba(58, 204, 230, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 16px;
}

.mainTopbarer59 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  height: 116px;
  background: black;
  border-radius: 8px;
}

.txtb6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 24px;
  margin-bottom: 11px;
}

.txtb7 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CED4DA;
  margin-left: 24px;
  margin-top: 12px;
}

.pic51 {
  margin-right: 11px;
  margin-left: 2px;
}

.pic52 {
  margin-right: 8px;
}

.pic53 {
  margin-right: 8px;
}

.sliderbg1 {
  background: url(ai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 600px;
}

.swiper {
  width: 100%;
  height: 600px;
}

swiper-container {
  width: 100%;
  height: 600px;
}

.swiperwrapper {
  width: 100%;
  height: 600px;
}

swiper-slide {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.picbox {
  width: 100%;
}

.swiper-button-prev {
  opacity: 0;
}

.swiper-button-next {
  opacity: 0;
}

.sliderbg2 {
  background: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 600px;
}

.sliderbg3 {
  background: url(party.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 600px;
}

.maxheight123 {
  height: 100%;
}

.pic81 {
  margin-top: 8px;
}

.time22 {
  height: 84px;
  width: 80%;
}

.aibtn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 62px;
  height: 35px;
  background: #00B96B;
  border-radius: 8px;
  margin-bottom: 20px;
}

.aitxt3 {
  width: 291px;
  height: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #CED4DA;
  margin-top: 20px;
}

.posit {
  position: relative;
  right: 110px;
}

.guest1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 8px;
}

.guest2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #CED4DA;
  margin-left: 8px;
}

.pr1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 52px;
  background: black;
  box-shadow: 0px 4px 4px rgba(0, 185, 107, 0.25);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #00B96B;
  width: 16%;
  margin-right: 8px;
}

.pr2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 52px;
  background: black;
  box-shadow: 0px 4px 4px rgba(0, 185, 107, 0.25);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #F2BD27;
  width: 22%;
  margin-right: 8px;
}

.pr3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 52px;
  background: black;
  box-shadow: 0px 4px 4px rgba(0, 185, 107, 0.25);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3ACCE6;
  width: 17%;
  margin-right: 8px;
}

.pr4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 52px;
  background: black;
  box-shadow: 0px 4px 4px rgba(0, 185, 107, 0.25);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #9E339F;
  width: 18%;
  margin-right: 8px;
}

.pr5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 52px;
  background: black;
  box-shadow: 0px 4px 4px rgba(0, 185, 107, 0.25);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #E0282E;
  width: 10%;
  margin-right: 8px;
}

.lesswidth {
  margin-top: 16px;
}

.mainTopbarer51alt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 60px;
  width: 73%;
  background: #1677FF;
  border-radius: 4px;
  margin-top: 16px;
}

.lr1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #CED4DA;
}

.dropbtnalt {
  border-bottom: 1px solid #878A99;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  background-color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #CED4DA;
  border-left: hidden;
  border-top: hidden;
  margin-top: 8px;
}

.blackbox {
  padding: 8px;
  height: 150px;
  background: black;
  border-radius: 4px;
  width: 48%;
}

.numbers {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #3ACCE6;
  text-shadow: 0px 4px 4px rgba(58, 204, 230, 0.25);
}

.lesswidth12 {
  width: 73%;
}

.blackbox2 {
  padding: 8px;
  height: 126px;
  background: black;
  border-radius: 4px;
  width: 50%;
}

.lvl1 {
  width: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #EFF2F7;
}

.xp {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #CED4DA;
}

.xp2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 36px;
  height: 22px;
  background: #3ACCE6;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #EFF2F7;
  margin-left: 18px;
}

.xp3 {
  margin-bottom: 8px;
}

.bluebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 60px;
  width: 48%;
  background: #1677FF;
  border-radius: 4px;
}

.wallet {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #EFF2F7;
  margin-left: 20px;
}

.margr {
  margin-right: 28px;
}

.chart100 {
  width: 100%;
}

.lol {
  height: 290px;
}

.chart101 {
  width: 50%;
}

.width22 {
  width: 50%;
}

.width23 {
  width: 96%;
}

.numbers21 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #00B96B;
}

.numbers21alt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #F4801A;
}

.numbers22 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #00B96B;
  text-shadow: 0px 4px 4px rgba(58, 204, 230, 0.25);
  margin-top: 16px;
}

.numbers22alt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #F4801A;
  text-shadow: 0px 4px 4px rgba(58, 204, 230, 0.25);
  margin-top: 16px;
}

.blackbox11 {
  padding: 8px;
  height: 201px;
  background: black;
  border-radius: 4px;
  width: 96%;
}

.circ612 {
  height: 50px;
  width: 50px;
  justify-content: center;
  margin: 30px;
}

.grntxt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #00B96B;
}

.betbg {
  width: 75%;
}

.betbgano {
  width: 600px;
}

.optxt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  width: 122px;
}

.optxt2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  width: 122px;
}

.bgcolor1 {
  background-color: #272b30;
}

.optxt3 {
  margin-bottom: 30px;
}

.dc20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 55px;
  background-color: #F4801A;
  border-radius: 4px;
  width: 90%;
  margin-top: 8px;
  margin-bottom: 25px;
}

.balance1233 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #EFF2F7;
}

.dcb {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

.input112 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #878A99;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border: 1px solid #878A99;
  border-radius: 4px;
  background-color: black;
  width: 100%;
}

.input112alt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #878A99;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border: 1px solid #878A99;
  border-radius: 4px;
  background-color: black;
  width: 100%;
}

.width344 {
  width: 45%;
}

.filter1232 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 30px;
  background: #1677FF;
  border-radius: 4px;
  width: 95%;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.Topbarer10alt1 {
  background-color: #272b30;
  height: 100%;
}

.cartnotification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  width: 16px;
  height: 16px;
  background: #F4801A;
  border-radius: 8px;
  bottom: 36px;
  left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.tshirtbg {
  padding: 0px;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}

.tshirtbgpic {
  padding: 0px;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}

.box2alt {
  width: 33%;
  margin-left: 16px;
  margin-top: 32px;
}

.tshirtxt1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 16px;
  margin-top: 16px;
}

.tshirtxt2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.tshirtxt3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #F4801A;
  margin-bottom: 8px;
}

.tshirtxt4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 32px;
  border: 1px solid #3ACCE6;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3ACCE6;
  width: 50%;
  margin-right: 8px;
}

.tshirtxt5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 32px;
  background: #3ACCE6;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  width: 50%;
}

.Topbarer12alt {
  width: 70%;
  height: inherit;
  overflow: hidden;
  word-wrap: break-word;
}

.tshirtbg2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(shirt2.png);
  border-radius: 8px 8px 0px 0px;
  height: 160px;
  width: 100%;
}

.tshirtbg3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(shirt3.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
  height: 160px;
  width: 100%;
}

.tshirtbg4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(shirt4.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
  height: 160px;
  width: 100%;
}

.tshirtbg5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(shirt5.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
  height: 160px;
  width: 100%;
}

.tshirtbg6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(shirt6.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
  height: 160px;
  width: 100%;
}

.tshirtbg7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(shirt7.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
  height: 160px;
  width: 100%;
}

.tshirtbg8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(shirt8.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
  height: 160px;
  width: 100%;
}

.tshirtbg9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  background: url(shirt9.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px 8px 0px 0px;
  height: 160px;
  width: 100%;
}

.btnEnded {
  background-color: #878A99;
}

.anotherline {
  width: 110px;
}

.wntxt {
  background-color: #FFC247; /* Assuming $C17 is defined */
  color: #623B20; /* Assuming $C18 is defined */
  padding: 4px 16px;
  position: absolute;
  z-index: 3;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -90px;
  transform: rotate(-45deg);
  top: 15px;
}

.TM {
  position: absolute;
  top: 750px;
  font-size: 23px;
  left: 1px;
}

/*# sourceMappingURL=converted.css.map */
